<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{user/fragments/head :: head('Toeic Mentor | Login page')}"></div>

<body>

<main>

    <!-- header-area start -->
    <div th:insert="~{user/fragments/header::header}"></div>
    <!-- header end -->

    <!-- off-canvas-menu start -->
    <div th:insert="~{user/fragments/off-canvas-menu::offcanvasMenu}"></div>
    <!-- off-canvas-menu end -->

    <section class="hero-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-12 mx-auto">
                    <form class="custom-form login-form" role="form" method="post"
                          th:action="@{/loginProcess}" th:object="${loginRequest}">
                        <h2 class="hero-title text-center mb-4 pb-2">Login Form</h2>

                        <!-- Add error message for BadCredentialsException -->
                        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>

                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        <div class="form-floating mb-4 p-0">
                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                   placeholder="Email address" required="" th:field="*{email}">
                            <label for="email">Email address</label>
                        </div>

                        <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}"></span>
                        <div class="form-floating p-0">
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="Password" required="" th:field="*{password}">
                            <label for="password">Password</label>
                        </div>

                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                        </div>

                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-5 col-12">
                                <button type="submit" class="form-control">Login</button>
                            </div>

                            <div class="col-lg-5 col-12">
                                <a th:href="@{/register}" class="btn custom-btn custom-border-btn">Register</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source th:src="@{/asset/videos/video.mp4}" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</main>

<!-- JAVASCRIPT FILES -->
<script th:src="@{/asset/js/jquery.min.js}"></script>
<script th:src="@{/asset/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/asset/js/countdown.js}"></script>
<script th:src="@{/asset/js/init.js}"></script>

</body>
</html>
