<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:replace="~{user/fragments/head :: head('Toeic Mentor | Register page')}"></div>

<body>

<main>

    <!-- header-area start -->
    <div th:insert="~{user/fragments/header::header}"></div>
    <!-- header end -->

    <!-- off-canvas-menu start -->
    <div th:insert="~{user/fragments/off-canvas-menu::offcanvasMenu}"></div>
    <!-- off-canvas-menu end -->

    <section class="hero-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12 mx-auto">
                    <form class="custom-form" role="form" method="post"
                          th:action="@{/register}" th:object="${registerRequest}" enctype="multipart/form-data">
                        <h2 class="hero-title text-center mb-4 pb-2">Create an account</h2>

                        <!-- Add error message for BadCredentialsException -->
                        <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>

                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}"></span>
                                <div class="form-floating p-0">
                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                           class="form-control" placeholder="Email address" required=""
                                           th:field="*{email}">
                                    <label for="email">Email address</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <span class="text-danger" th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}"></span>
                                <div class="form-floating p-0">
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="Password" required="" th:field="*{password}">
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                                      th:errors="*{confirmPassword}"></span>
                                <div class="form-floating p-0">
                                    <input type="password" name="confirmPassword" id="confirmPassword"
                                           class="form-control" placeholder="Password" required=""
                                           th:field="*{confirmPassword}">
                                    <label for="password">Password Confirm</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <span class="text-danger" th:if="${#fields.hasErrors('fullName')}"
                                      th:errors="*{fullName}"></span>
                                <div class="form-floating">
                                    <input type="text" name="full-name" id="full-name" class="form-control"
                                           placeholder="Full Name" required="" th:field="*{fullName}">
                                    <label for="full-name">Full Name</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <select th:field="*{gender}" class="form-control">
                                        <option value="">Select gender</option>
                                        <option th:each="gender : ${genders}"
                                                th:value="${gender}"
                                                th:text="${gender}"></option>
                                    </select>
                                    <label for="full-name">Gender</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-12">
                                <span class="text-danger" th:if="${#fields.hasErrors('image')}"
                                      th:errors="*{image}"></span>
                                <div class="form-floating">
                                    <input type="file" th:field="*{image}" accept="image/*" class="form-control">
                                    <label>Avatar</label>
                                </div>
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-5 col-md-5 col-5 ms-auto">
                                    <button type="submit" class="form-control">Register</button>
                                </div>

                                <div class="col-lg-6 col-md-6 col-7">
                                    <p class="mb-0">Already have an account?
                                        <a th:href="@{/login}" class="ms-2">Login</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source th:src="@{/user/asset/videos/video.mp4}" type="video/mp4">

                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</main>

<!-- JAVASCRIPT FILES -->
<script th:src="@{/user/asset/js/jquery.min.js}"></script>
<script th:src="@{/user/asset/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/user/asset/js/countdown.js}"></script>
<script th:src="@{/user/asset/js/init.js}"></script>
<script th:src="@{/user/asset/js/password-validator.js}"></script>

</body>
</html>
