<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:insert="~{admin/fragments/head::head}"></head>

<body class="body">

<!-- #wrapper -->
<div id="wrapper">
    <!-- #page -->
    <div id="page" class="">
        <!-- layout-wrap -->
        <div class="layout-wrap">
            <!-- preload -->
            <div id="preload" class="preload-container">
                <div class="preloading">
                    <span></span>
                </div>
            </div>
            <!-- /preload -->
            <!-- section-menu-left -->
            <div th:insert="~{admin/fragments/menu-left::section-menu-left}"></div>
            <!-- /section-menu-left -->
            <!-- section-content-right -->
            <div class="section-content-right">
                <!-- header-dashboard -->
                <div th:insert="~{admin/fragments/header_dashboard::header-dashboard}"></div>
                <!-- /header-dashboard -->
                <!-- main-content -->
                <div class="main-content">
                    <!-- main-content-wrap -->
                    <div class="main-content-inner">
                        <!-- main-content-wrap -->
                        <div class="main-content-wrap">
                            <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                <h3>All Parts</h3>
                                <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                    <li>
                                        <a th:href="@{/admin}">
                                            <div class="text-tiny">Dashboard</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <a th:href="@{/admin/parts}">
                                            <div class="text-tiny">Part</div>
                                        </a>
                                    </li>
                                    <li>
                                        <i class="icon-chevron-right"></i>
                                    </li>
                                    <li>
                                        <div class="text-tiny">All Parts</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- all-category -->
                            <div class="wg-box">
                                <div class="flex items-center justify-between gap10 flex-wrap">
                                    <a class="tf-button style-1 w208" th:href="@{/admin/parts/count-tests}"><i
                                            class="icon-plus"></i>Count Test</a>
                                </div>
                            <!-- part-list -->
                            <div class="wg-box">
                                <div class="flex items-center justify-between gap10 flex-wrap">
                                    <div class="wg-filter flex-grow">
                                        <form class="form-search">
                                            <fieldset class="name">
                                                <input type="text" placeholder="Search here..." class="search-input"
                                                       name="name" tabindex="2" value="" aria-required="true"
                                                       required="">
                                            </fieldset>
                                            <div class="button-submit">
                                                <button class="" type="submit"><i class="icon-search"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="wg-table table-all-user">
                                    <ul class="table-title flex gap20 mb-14">
                                        <li style="width: 10%; min-width: 120px; margin-left: 10px">
                                            <div class="body-title">ID</div>
                                        </li>
                                        <li style="width: 15%; min-width: 150px;">
                                            <div class="body-title">Name</div>
                                        </li>
                                        <li style="width: 32%; min-width: 150px;">
                                            <div class="body-title">Questions</div>
                                        </li>
                                        <li style="width:33%; min-width: 120px;">
                                            <div class="body-title">Tests</div>
                                        </li>
                                        <li style="width: 10%; min-width: 80px;">
                                            <div class="body-title">Action</div>
                                        </li>
                                    </ul>
                                    <ul class="list">
                                        <li class="user-item gap14" th:each="part : ${parts}">
                                            <div class="flex items-center justify-between gap20 flex-grow">
                                                <div class="body-text"
                                                     style="width: 10%; min-width: 120px;margin-left: 10px"
                                                     th:text="${part.getId()}"></div>
                                                <div class="body-text body-title-2" style="width: 15%; min-width: 150px"
                                                     th:text="${part.getName()}"></div>
                                                <div class="body-text" style="width: 33%; min-width: 150px"
                                                     th:text="${part.getQuestionCount()}"></div>
                                                <div class="body-text" style="width: 33%; min-width: 150px"
                                                     th:text="${part.getTestCount()}"></div>
                                            </div>
                                            <div class="list-icon-function" style="width: 10%">
                                                <div class="item eye">
                                                    <a class="icon-eye"
                                                       th:href="@{/admin/part/{id}(id=${part.getId()})}"></a>
                                                </div>
<!--                                                <div class="item edit">-->
<!--                                                    <a class="icon-edit"-->
<!--                                                       th:href="@{'/staff/orders/' + ${eachOrder.id} + '?status=true'}"></a>-->
<!--                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="divider"></div>
                                <div class="flex items-center justify-between flex-wrap gap10">
                                    <div class="text-tiny">Showing 10 entries</div>
                                    <ul class="wg-pagination listPage">
                                    </ul>
                                </div>
                            </div>
                            <!-- /order-list -->
                        </div>
                        <!-- /main-content-wrap -->
                    </div>
                    <!-- /main-content-wrap -->
                    <!-- bottom-page -->
                    <div th:insert="~{admin/fragments/bottom_page::bottom-page}"></div>
                    <!-- /bottom-page -->
                </div>
                <!-- /main-content -->
            </div>
            <!-- /section-content-right -->
        </div>
        <!-- /layout-wrap -->
    </div>
    <!-- /#page -->
</div>
<!-- /#wrapper -->

<!-- Javascript -->
<div th:insert="~{admin/fragments/script::script}"></div>

</body>
<script th:src="@{/admin/asset/js/pagination.js}"></script>
<script th:src="@{/admin/asset/js/search.js}"></script>

</html>