<head th:fragment="head">
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Toeic Mentor Admin Dashboard</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/animate.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/bootstrap-select.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/admin/asset/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/asset/css/style.css}">

    <!-- Font -->
    <link rel="stylesheet" th:href="@{/admin/asset/font/fonts.css}">

    <!-- Icon -->
    <link rel="stylesheet" th:href="@{/admin/asset/icon/style.css}">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" th:href="@{/admin/asset/images/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/asset/images/favicon.png}">

</head>