<div class="header-dashboard" th:fragment="header-dashboard">
    <div class="wrap">
        <div class="header-left">
            <a th:href="@{/admin/dashboard}">
                <img class="" id="logo_header_mobile" alt="" th:src="@{/admin/asset/images/logo/logo.png}"
                     th:data-light="@{/admin/asset/images/logo/logo.png}"
                     th:data-dark="@{/admin/asset/images/logo/logo-dark.png}" data-width="154px" data-height="52px"
                     th:data-retina="@{/admin/asset/images/logo/logo.png}">
            </a>
            <div class="button-show-hide">
                <i class="icon-menu-left"></i>
            </div>
        </div>
        <div class="header-grid">
            <div class="header-item button-dark-light">
                <i class="icon-moon"></i>
            </div>

            <div class="header-item button-zoom-maximize">
                <div class="">
                    <i class="icon-maximize"></i>
                </div>
            </div>

            <div class="popup-wrap user type-header">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="header-user wg-user">
                                                <span class="image">
                                                    <img th:src="${user.getImage()}"
                                                         alt="Ảnh người dùng mặc định">
                                                </span>
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2"
                                                          th:text="${user.getFullName()}"></span>
                                                    <span class="text-tiny" th:text="${user.getRoleName()}"></span>
                                                </span>
                                            </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end has-content" aria-labelledby="dropdownMenuButton3">

                        <li>
                            <a href="#" class="user-item"
                               onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                <div class="icon">
                                    <i class="icon-log-out"></i>
                                </div>
                                <div class="body-title-2">Log out</div>
                            </a>
                            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

