<div th:fragment="script">
    <!-- Javascript -->
    <script th:src="@{/admin/asset/js/jquery.min.js}"></script>
    <script th:src="@{/admin/asset/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/asset/js/bootstrap-select.min.js}"></script>
    <script th:src="@{/admin/asset/js/zoom.js}"></script>
    <script th:src="@{/admin/asset/js/switcher.js}"></script>
    <script th:src="@{/admin/asset/js/theme-settings.js}"></script>
    <script th:src="@{/admin/asset/js/main.js}"></script>
<!--    <script th:src="@{/admin/js/jvectormap-1.2.2.min.js}"></script>-->
<!--    <script th:src="@{/admin/js/jvectormap-us-lcc.js}"></script>-->
<!--    <script th:src="@{/admin/js/jvectormap.js}"></script>-->
    <script th:src="@{/admin/asset/js/morris.min.js}"></script>
    <script th:src="@{/admin/asset/js/raphael.min.js}"></script>
<!--    <script th:src="@{/admin/js/morris.js}"></script>-->
    <script th:src="@{/admin/asset/js/apexcharts/apexcharts.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-1.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-2.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-3.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-4.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-5.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-6.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-7.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-8.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-9.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-10.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-11.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-12.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-13.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-14.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-15.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-16.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-17.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-18.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-19.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-20.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-21.js}"></script>
    <script th:src="@{/admin/asset/js/apexcharts/line-chart-22.js}"></script>
    <script th:src="@{/admin/asset/js/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/admin/asset/js/tinymce/tinymce-custom.js}"></script>
    <script th:src="@{/admin/asset/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/admin/asset/js/carousel.js}"></script>
</div>