<footer th:fragment="footer">
    <!-- footer-bottom start -->

    <div class="footer-bottom-wrap">
        <br>
        <div class="container">
            <div class="f-bottom-block">
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-phone"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="tel:0705488xxx" title="tel:(+84)705488xxx">0705488xxx</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-mail"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="mailto:intern.nhhtuan@tma.com.vn" class="con-add">intern.nhhtuan@tma.com.vn</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-map-pin"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="javascript:void(0)">TMA Solutions</a>
                                    </span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom end -->
    <!-- copyright start -->
    <div class="copyright">
        <div class="container">
            <ul class="copyright-ul">
                <li class="copyright-li ft-text">
                    <div class="copyright-text">
                        <p>© 2025 . All rights reserved by TOEIC Mentor</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- copyright end -->
</footer>
