<footer th:fragment="footer">
    <!-- footer-bottom start -->

    <div class="footer-bottom-wrap">
        <br>
        <div class="container">
            <div class="f-bottom-block">
                <div class="f-bottom-element f-logo">
                    <div class="logo-block">
                        <a href="javascript:void(0)" class="theme-footer-logo">
                            <img th:src="@{/user/asset/image/home1/logo.png}" class="img-fluid" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-phone"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="tel:0705488458" title="tel:(+84)705488458">0705488458</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-mail"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="mailto:nguyenhahongtuan@gmail.com" class="con-add">nguyenhahongtuan@gmail.com</a>
                                    </span>
                                </span>
                    </div>
                </div>
                <div class="f-bottom-element f-contact">
                    <div class="f-contact-main">
                        <span class="icon"><i class="feather-map-pin"></i></span>
                        <span class="text">
                                    <span class="ft-link">
                                        <a href="javascript:void(0)">Số 1 Võ Văn Ngân</a>
                                    </span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom end -->
    <!-- copyright start -->
    <div class="copyright">
        <div class="container">
            <ul class="copyright-ul">
                <li class="copyright-li ft-text">
                    <div class="copyright-text">
                        <p>© 2025 . All rights reserved by TOEIC Mentor</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- copyright end -->
</footer>
