<div class="menu-main" th:fragment="main-menu">
    <div class="container">
        <div class="menu-contact">
            <!-- main-menu start -->
            <div class="mega-menu-area">
                <div class="mainmenu-content">
                    <div class="main-wrap">
                        <ul class="main-menu">
                            <li class="menu-link">
                                <a th:href="@{/}" class="link-title">
                                    <span class="sp-link-title">Home</span>
                                    <span class="menu-arrow"></span>
                                </a>
                            </li>
                            <li class="menu-link" th:if="${#authentication.principal == 'anonymousUser'}">
                                <a th:href="@{/login}" class="link-title">
                                    <span class="sp-link-title">Chatbot</span>
                                </a>
                            </li>
                            <li class="menu-link" th:unless="${#authentication.principal == 'anonymousUser'}">
                                <a th:href="@{/chat}" class="link-title">
                                    <span class="sp-link-title">Chatbot</span>
                                </a>
                            </li>
                            <li class="menu-link" th:if="${#authentication.principal == 'anonymousUser'}">
                                <a th:href="@{/login}" class="link-title">
                                    <span class="sp-link-title">Test History</span>
                                </a>
                            </li>
                            <li class="menu-link" th:unless="${#authentication.principal == 'anonymousUser'}">
                                <a th:href="@{/test-histories}" class="link-title">
                                    <span class="sp-link-title">Test History</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- main-menu end -->
            <div class="contact-num">
                <div class="contact-wrap service-line">
                    <span class="contact-details"><i class="feather-headphones"></i></span>
                    <a href="tel:0705488xxx">0705488xxx</a>
                </div>
            </div>
        </div>
    </div>
</div>
