<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu"
     aria-labelledby="offcanvasMenuLabel" th:fragment="offcanvasMenu">
    <div class="offcanvas-header">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/login}">Login Form</a>
                </li>

                <li>
                    <a th:href="@{/register}">Create an account</a>
                </li>

                <li>
                    <a href="password-reset.html">Password Reset</a>
                </li>
            </ul>
        </nav>
    </div>
</div>